body {
    background-color: rgba(75, 83, 60, 0.911);
    font-family: sans-serif;
    margin: 0px;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(50, 71, 14);
    padding: 10x;
    }
.Menu {
    color: white;
    font-size: 25px;
}
nav {
    height: 1200px;
    width: 0px;
    background-color: rgb(129, 141, 107);
    position: fixed;
    top: o;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.1s;
}
nav a {
    color: white;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px;
}
nav a:hover {
    color: darkolivegreen;
    background-color: white;
}
main {
    padding: 10px;
    transition: margin-left 0.5s;
}
#conteudo {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
}
#imagens{
    display: table;
    margin: auto;
    margin-top: 50px;
}
#image1 {
    align-items: center;
}
#image2 {
    align-items: center;
    width: 500px;
    height: 338px;
    margin-left: 30px;
}